Header{
    background: #6f769e;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
}
header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.barbie-img{
    width: 150px;
    height: auto;
    flex-direction: row;
}
.botao{
    transition: background-color 0.1s ease, transform 0.5s ease;
    text-decoration: none;
}
.botao:hover{
    background-color: #8f96bd;
    transform: color (1.5);
}